# Quarto book output
_book/
_site/

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf

# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Mac/OS
.DS_Store

# Misc
*.tmp
